/* This file contains the resets, variables and mixins  */

/* Variables */
//Breakpoints
$desktop: 768px;

//Colors
$gblack: #0a0908;
$gblueblack: #22333b;
$ggrey: #f2f4f3;
$ggreen: #c2e812;

/* Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
}

/* Mixins */

@mixin FlexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Mediaqueries mixins */

@mixin for-size($size) {
  @if $size == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}
