@use "base";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@1,900&family=Play:wght@700&display=swap");

/* This file contains reusables such as buttons, navbars, cards etc. */

// item cards
/*
.itemCard {
  &__image {
  }
}
*/

// Header and navbar

.brand {
  background-color: black;
  color: white;
  font-family: "Inter";
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
#brand-logo {
  display: flex;
  flex-direction: row;
  text-align: center;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  //align-items: center;
  font-family: "Inter";
  background-color: black;
  color: white;
}

#nav-container {
  display: flex;

  //justify-content:space-between;
  width: 50vw;
  padding-bottom: 0.5rem;
}

.nav-container-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  float: left;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.nav-container-link:hover {
  color: white;
}
.cart-container {
  display: flex;
  width: 50vw;
  flex-direction: row;
  justify-content: right;
}

//Item cards
.itemCard {
  @include base.FlexColCenter;
  margin-top: 2em;
  padding: 1em;
  border-bottom: 1px solid grey;

  &--small {
    @include base.FlexRowCenter;
    justify-content: space-between;
    margin-top: 1em;
  }

  &__image {
    &--small {
      height: 100px;
      width: 100px;
    }
  }

  &__title {
    margin-top: 0.5em;
    align-self: flex-start;

    &--small {
      font-size: 1em;
      align-self: center;
      margin-top: 0;
      //background-color: blue;
    }
  }

  &__articleNumber {
    align-self: flex-end;
    font-style: italic;
  }

  &__price {
    font-size: 2em;
    &--small {
      align-self: center;
      //background-color: burlywood;
    }
  }

  &__size {
    font-weight: bold;
  }

  &__quantity {
    &--small {
      //background-color: coral;
    }
  }

  &__addBtn {
    background-color: base.$ggreen;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 1em;
    padding-left: 1em;

    &:hover {
      background-color: #d4eb72;
    }
  }
}
